.profile-details-container{
    background-color: #ffffff;
    border-radius: 1rem;
    height: 100%;
    padding-bottom: 5px;
}
.img-and-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem 0rem 1rem;

}
.img-holder{
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
}
.name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.first-name-container{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Lucida Handwriting';
    color: #3f87a6;
    margin: 3px;
    padding: 2px;
}
.last-name-container{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Lucida Handwriting';
    color: #f69d3c;
    margin: 3px;
    padding: 2px;
}
.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #e7eef1fa;
    border-radius: 5px;
    margin: 4px;
    padding: 5px;
}
.details-data-container{
    font-size: 16px;
    font-weight: 400;
    color: #151f24;
    padding: 2px;
    margin-bottom: 0px;
}
.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 1rem 0.4rem;
    
}
.icons{
    margin: 10px;
    padding: 4px;
}
.button-container{
    height: 2.7rem;
    width: 90%;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.button-contents{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin: 1px;
    padding: 1rem;
}
.dataStorage-container{
    padding: 15px;
}
.ant-tabs-tab{
    font-size: 16px;
}
.ant-tabs-tab:hover{
    color: #3f87a6;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #3f87a6;
}
.ant-tabs-ink-bar{
    background-color: #3f87a6;
}
.resume-container{
    padding: 10px;
}
.resume-header{
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin: 1px;
}
.experience-heading{
    font-size: 23px;
    font-weight: 600;
    color: #000;
    margin: 1px;
}
.experience-container{
    margin-top: 5px;
}
.experience-header{
    font-size: 18px;
    font-weight: 500;
    color: #3f87a6;
    margin: 1px;
}
.company-name{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin: 1px;
}
ul{
    margin-block-start: 0em;
    padding-inline-start: 30px;
}
.bar{
    height: auto;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
}
.bar-container{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    color: #000;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
}
.skills-details{
    background-color: rgb(194, 189, 189);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}
.skills-container{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-top: 10px;
    margin-bottom: 5px;
}
.skills-container-heading{
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin: 1px;
}
.values-container{
    font-size: 16px;
    /* font-weight: 400; */
    color: #000;
}

/*About Page*/

.about-container{
    padding: 10px;
    margin-top: 10px;
}

.about-contents{
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin: 1px;
}

.services-header{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-top: 20px;
}

.services-container{
    margin: 2rem;
    background-color: rgb(235, 230, 230);
    border-radius: 5px;
    transition: transform .2s;
}

.skills-details:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}